[submodule "kernel_devicetree_msm-4.19"]
	path = arch/arm64/boot/dts/vendor-legacy
	url = https://github.com/imren0x/kernel_devicetree_msm-4.19
[submodule "vendor_qcom_opensource_wlan_prima"]
	path = drivers/staging/prima
	url = https://github.com/Mi-Thorium/vendor_qcom_opensource_wlan_prima
[submodule "kernel_techpack_xiaomi-titanium"]
	path = techpack/xiaomi-titanium
	url = https://github.com/imren0x/kernel_techpack_xiaomi-titanium
[submodule "kernel_techpack_audio-legacy"]
	path = techpack/audio-legacy
	url = https://github.com/lightsummer233/kernel_techpack_audio-legacy
[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/lightsummer233/KernelSU.git
